/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body * {
  border: 1px solid black;
}

.right ul {
  padding: 0;
}

ul li {
  list-style-type: none;
}

ul img {
  width: 150px;
  height: 200px;
  padding: 5px 5px;
}


#imageResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#deckList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************************************
/* LAYOUT
/*******************************************/
.flexContainer, 
header,
.sectionBar {
  display: flex;
  justify-content: center;
}

.left {
  width: 66.66%;
}
.right{
  width: 33.33%;
}

.sectionBar {
  align-items: center;
  height: 50px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
